.footer-container{
    display: flex;
    align-items: center;
    width: 100%;
    flex-direction: row;
  }
  
  footer {
    background-color: var(--nav-col);
    color: var(--footer-text-col);
    padding: 20px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 95%;
    border-radius: 20px;
  }
  
  .footer-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
  }
  
  .social-icons {
    width: 100%;
  }
  
  .social-icons a {
    margin-right: 10px;
  }
  
  .social-icons svg:hover{
    fill: var(--icon-col);
  }
  
  .footer-text {
    display: flex;
    gap: 15px;
    font-size: 14px;
    width: 100%;
    justify-content: end;
  }
  
  .footer-text a {
    color: var(--footer-text-col);
    text-decoration: none;
  }
  
  .footer-text a:hover {
    color: var(--col-11);
  }
  