header {
    background-color: var(--nav-col);
    color: #fff;
    padding: 15px 30px;
    border-radius: 20px;
    width: 95%;
  }
  
  .header-container{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 10px;
  }
  
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo h1 {
    font-weight: 600;
    font-size: 24px;
    color: var(--logo-col);
  }
  
  nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
  }
  
  nav ul li a {
    font-size: 16px;
    color: var(--nav-text-col);
    text-decoration: none;
    font-weight: 400;
    position:relative;
  }
  
  nav ul li a::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 2px;
    background-color: var(--col-8);
    transform-origin: bottom right;
    transform: scaleX(0);
    transition: transform 0.5s ease;
  }
  
  nav ul li a:hover::before {
    transform-origin: bottom left;
    transform: scaleX(1);
  }
  
  nav ul li a:hover{
    color: var(--heading-col);
  }
  
  