/* Ensure that html and body take up the full viewport height */
html, body {
    height: 100%;
    margin: 0;
  }
  
  body {
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
  }
  
  /* Container for the main content of the app */
  .container {
    flex: 1;
    display: flex;
    flex-direction: column;
  }
  
  /* Styles for the header */
  header {
    background-color: #1976d2; /* Color for header background */
    color: white;
    padding: 1rem;
    position: sticky;
    top: 0;
    z-index: 1000; /* Ensures header is on top of other elements */
  }
  
 
   
  
  /* Centering the main content */
  main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
  }
  
  /* Styling for forms */
  form {
    max-width: 400px;
    width: 100%;
    margin: 0 auto;
  }
  
  button {
    margin-top: 1rem;
  }
  
  